# no files with following extensions
*.dll
*.cache
*.pdb
*.sln
*.suo
*.csproj

# ignore specific files
TribalWars.API.csproj.FileListAbsolute.txt

# Ignore these folders
Tribal-Wars-API/TribalWars.API/obj/Debug/
Tribal-Wars-API/TribalWars.API/Properties/
