# no files with following extensions
*.cache
*.pdb
*.sln
*.suo
*.csproj

# ignore specific files
TribalWars.API.csproj.FileListAbsolute.txt

# Ignore these folders
TribalWars.API/obj/Debug/
TribalWars.API/Properties/
TribalWars.API/bin/Debug/
